absl-py @ file:///home/bear/.cache/pypoetry/artifacts/c8/f5/59/d84b863429c2abe33909c980441028804878cad38e6f44833da7d3cbf2/absl_py-0.13.0-py3-none-any.whl
adafruit-nrfutil==0.5.3.post16
aiohttp==3.7.4.post0
alabaster==0.7.12
aniso8601==9.0.1
antlr4-python3-runtime==4.8
anykeystore==0.2
appdirs==1.4.4
asgiref==3.4.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.6.0
bert-for-tf2==0.14.9
black==21.7b0
boto3==1.17.95
botocore==1.20.95
cachetools==4.2.2
certifi==2021.5.30
chardet==3.0.4
charset-normalizer @ file:///home/bear/.cache/pypoetry/artifacts/70/ca/1e/e007b35b291769ca815c2df5edd63692a9af9b1e397f4bc0ca5419494c/charset_normalizer-2.0.4-py3-none-any.whl
click==8.0.1
colorama==0.4.4
coloredlogs==14.0
coreapi==2.3.3
coreschema==0.0.4
cryptacular==1.6.1
customized-konlpy==0.0.64
cycler==0.10.0
Cython==0.29.24
dataclasses==0.6
datasets==1.11.0
decorator==5.0.9
defusedxml==0.7.1
dill==0.3.4
Django==3.2.5
django-rest-swagger==2.2.0
djangorestframework==3.12.4
docformatter==1.3
docutils==0.15.2
ecdsa==0.17.0
emoji==0.5.4
entrypoints==0.3
fairscale==0.3.7
filelock==3.0.12
flake8==3.7.8
flake8-bugbear==19.8.0
Flask==2.0.1
flask-restplus==0.13.0
flatbuffers==1.12
fsspec==2021.7.0
ftfy==6.0.3
future==0.18.2
gast==0.4.0
gensim==3.8.3
gitdb==4.0.7
gitdb2==2.0.5
GitPython==3.0.3
gluonnlp==0.10.0
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphviz==0.8.4
greenlet==1.1.1
grpcio==1.34.1
h5py==3.1.0
huggingface-hub==0.0.12
humanfriendly==9.2
hupper==1.10.3
hydra-core==1.0.7
idna==2.10
imagesize==1.2.0
importlib-resources==5.2.2
iniconfig==1.1.1
iopath==0.1.9
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.9.3
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==0.14.1
JPype1==1.3.0
jsonlines==1.2.0
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kobart-transformers==0.1.4
kobert @ file:///home/bear/data/start-up/examples/KoBERT
kobert-tokenizer @ git+https://github.com/SKTBrain/KoBERT.git@8be1c06896c213279b46f0291839c554fe18b5f7#subdirectory=kobert_hf
kobert-transformers==0.5.1
kochat==1.0.3
kocrawl==1.0.9
kogpt2-transformers==0.4.0
konlpy==0.5.2
Korpora==0.2.0
lxml==4.6.3
Markdown==3.3.4
markdown-it-py==0.5.8
MarkupSafe==2.0.1
matplotlib==3.2.1
matplotlib-inline==0.1.2
mccabe==0.6.1
multidict==5.1.0
multiprocess==0.70.12.2
mxnet==1.8.0.post0
mypy-extensions==0.4.3
myst-parser==0.12.10
nltk==3.4.5
numpy==1.18.5
oauthlib==3.1.1
omegaconf==2.0.6
onnxruntime==1.8.1
openapi-codec==1.3.2
openchat==1.1.12
opt-einsum==3.3.0
packaging==21.0
pandas==1.0.4
params-flow==0.8.2
# Editable install with no version control (parlai==1.4.1)
-e /home/bear/.virtualenvs/torch/lib/python3.8/site-packages
parso==0.8.2
PasteDeploy==2.1.1
pathspec==0.9.0
pbkdf2==1.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.3.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
portalocker==2.3.0
promise==2.3
prompt-toolkit==3.0.19
proto-chatbot==0.1.0
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
py-gfm==1.0.2
py-params==0.10.2
py-rouge==1.1
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pyDeprecate==0.3.1
pyflakes==2.1.1
Pygments==2.9.0
pyparsing==2.4.7
pyramid==2.0
pyramid-mailer==0.15.1
pyrsistent==0.18.0
pyserial==3.5
PySocks==1.7.1
pytest==6.2.4
pytest-datadir==1.3.1
pytest-regressions==2.2.0
python-dateutil==2.8.2
python3-openid==3.2.0
pytorch-crf==0.7.2
pytorch-lightning==1.4.2
pytorch-transformers==1.2.0
pytz==2021.1
PyYAML==5.4
pyzmq==18.1.0
regex==2020.1.8
repoze.sendmail==4.4.1
requests==2.26.0
requests-mock==1.7.0
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.4.2
sacremoses==0.0.45
scikit-learn==0.23.1
scipy==1.4.1
sentencepiece==0.1.91
sh==1.12.14
simplejson==3.17.3
six==1.15.0
smart-open==5.1.0
smmap==4.0.0
smmap2==3.0.1
snowballstemmer==2.1.0
soynlp==0.0.493
Sphinx==2.2.2
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.22
sqlparse==0.4.1
subword-nmt==0.3.7
tensorboard==2.3.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow-datasets==4.4.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-metadata==1.2.0
termcolor==1.1.0
tflite-runtime @ file:///home/bear/data/tflite_runtime_2.5.0/linux-cp38/tflite_runtime-2.5.0-cp38-cp38-linux_x86_64.whl
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.1
torch==1.9.0+cu111
torch-tb-profiler==0.2.1
torchaudio==0.9.0
torchmetrics==0.5.0
torchtext==0.10.0
torchvision==0.10.0+cu111
tornado==6.0.4
tqdm==4.62.2
traitlets==5.0.5
transaction==3.0.1
transformers==4.9.2
translationstring==1.4
tweepy==3.10.0
typing-extensions==3.7.4.1
Unidecode==1.1.1
untokenize==0.1.1
uritemplate==3.0.1
urllib3==1.26.6
velruse==1.1.1
venusian==3.0.0
wcwidth==0.2.5
WebOb==1.8.7
websocket-client==0.56.0
websocket-server==0.4
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
wtforms-recaptcha==0.3.2
xlrd==2.0.1
xxhash==2.0.2
yarl==1.6.3
zipp==3.5.0
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.5
